table {
    width: 100%;
    background-color: orange;
    height: 100vh;
    border:2px solid #fff;
    padding:5px;
    th{
        text-align: right;
        width: 300px;
    }
    th,td{
        border:2px solid #fff;
        padding:12px;
        border-radius: 5px;
        font-weight: 100;
        letter-spacing: 2px;
    }
}