#movie-list {
 ul {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding:25px;
    &   li{
        width:300px;
        height:400px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: #bac7db;
        margin-bottom: 12px;

        & a {
            text-decoration: none;
            display: block;
            background: rgba(0,0,0,0.5);
            padding:12px 25px;
            color:white;
            border:1px solid wheat;
        }
    }
 }

}