.detail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding:2rem;
    
    & .detail-img img {
        border-radius: 25px;
        box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
    
    }

    & .detail-text{
        padding:25px;
        color:wheat;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        & span{
            font-size:18px;
            font-weight: 100;
            margin-top:8px;
        }
        & a {
            margin-top:25px;
            text-decoration: none;
            border-radius: 8px;
            padding:25px 50px;
            background: transparent;
            border:1px solid #fff;
            color:#fff;
        }
        & a:hover{
            transition: 0.5s;;
            background:blue;
        }
    }   
}