<div class="container">
  <div class="row">
    <form [formGroup]="cvForm">
      <div class="form-group">
        {{cvForm.value|json}}
        <label>Name</label>
        <input formControlName="name" type="text"
        [class.hatali]="cvForm.get('name')?.valid &&
        cvForm.get('name')?.touched"
        />
        <small *ngIf="user?.errors?.forbiddenName">Admin keyword cannot be used for names</small>
        {{user?.errors?.forbiddenName|json}}
      </div>
      <div class="form-group">
        <label>Title</label>
        <input formControlName="title" type="text"/>
      </div>
      <div class="form-group">
        <label>About</label>
        <input formControlName="about" type="text"/>
      </div>
      <button (click)="onSubmit()" class="submit" type="submit">Register</button>
      <button (click)="loadData()" class="submit" >Load API</button>
    </form>
  </div>
  <div class="row">
    <div class="page">
      <div class="item-name">

      </div>
      <div class="item-title">

      </div>
      <div class="item-skills">
        <small class="skill">HTML</small>
        <small class="skill">CSS</small>
        <small class="skill">JS</small>
        <small class="skill">TS</small>
      </div>
    </div>
  </div>
</div>


