.container{
  background: rgb(2,0,36);
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  .row{
    margin:25px;
    height: 80vh;
    border-radius: 25px;
    background: rgb(10, 1, 19);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:50%;
    padding:25px;
    .form-group{
      display: flex;
      justify-content: flex-start;
      margin-top:15px;
      label{
        width: 100px;
        text-align: right;
        font-size:18px;
      }
      label:after{
        content:':';
        padding:5px;
        margin:5px 0 ;
      }
      input {
        font-size:20px;
        border-radius: 8px;
        border:none;
        outline: none;
        padding:5px;
      }
      }
    .emails-pane{

      display: flex;
      align-content: center;
      flex-direction: column;
      width:50%;
      button{
        border-radius: 8px;
        border:2px solid ;
        outline: none;
        padding:5px;
        margin-top:15px;
        margin-bottom:15px;
        background:transparent;
        color: white;
      }
      input{
        margin-bottom:3px;
        width:200px;
        font-size:14px;
      }

    }
    button{
      border-radius: 8px;
      border:2px solid ;
      outline: none;
      padding:5px;
      margin:15px 1px;
      width:200px;
      font-size:14px;
      background:transparent;
      color:wheat;
    }


  //  page
    .page{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .item-title small{
        font-size:14px;
        font-weight: 100;
        letter-spacing: 5px;
      }
      .item-about{
        margin-top:15px;
        p {
          font-size:12px;
          font-weight:600;
          letter-spacing:-1px;
          word-wrap: break-word;
          width:400px;
        }
      }
      .item-emails{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        small{
          font-weight: bolder;
          font-size:12px;
          letter-spacing:-1px;

        }
      }
    }
  }
  .right{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

}
